* {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.editor {
  width: 8.5in;
  min-height: 11in;
  padding: 1in;
  margin: 1rem;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, .5);
  background-color: white;
}

.line br {
  display: none;
}  

.line:focus {
  outline: none;
} */

@page {
  margin: 1in;
}
